.header{
  display:  flex;
  align-items: end;
}

.header a{
  margin: 2em;
  text-decoration: none;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #213D84;
}

.header img{
  width: 1.5em;
}

.header h1{
  color: #213D84;
  font-weight: 400;
  padding: .5em;
}

.inputs{
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.turnAll{
  transform: scale(1.3);
  background-color: aqua;
}

.date{
  height: 2.3em;
  color: #213D84;
  font-weight: 300;
  border: 1px solid #213D84;  
  font-size: 1.1em;
  text-align: center;
  width: 8em;
}

.list{
  margin-top: 1em;
  padding-bottom: 15em;
}

.list li{
  display: flex;
}

.list li input{
  width: 1.5em;
  margin-left: .5em;
  border: 1px solid #213D84;

}

.list li p{
  color: #213D84;
  font-weight: 400;
  padding: 0 1em;

}