

.menagerContainer{
  padding: 1em;
  margin-bottom: 200em;
}

.menagerContainer h1{
  padding: .5em;
  color: #213D84;
}

.buttonsContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3em;
  border-bottom: 3px dotted #213D84;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
}

.titleContainer a{
  margin: 1em;
  text-decoration: none;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #213D84;
}

.titleContainer img{
  width: 1.5em;
  
}