

.navBar{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #4E5770, #213D84);
  color: #fff;
}

.navBar a{
  text-decoration: none;
}

.menuIcon{
  font-size: 2.5rem;
  margin-left: .3em;
  color: white;
}

.navBar h1{
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.icon{
  width: 46px;
  margin-right: 10px;
}