.button{
  padding: .2em;
  background: linear-gradient(to right, #4E5770, #213D84);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.width-10 {
  width: 10em;
}

.width-20 {
  width: 20em;
}

.height-50 {
  height: 50px;
}

.height-100 {
  height: 100px;
}